extends layout

block content
  - let ores = [{ ore_name: 'Iron Ore', quality_level: 'High Grade', quantity_available: 1000 },{ ore_name: 'Gold Ore', quality_level: 'Pure', quantity_available: 50 },{ ore_name: 'Silver Ore', quality_level: 'Standard', quantity_available: 2000 }]
  .container-fluid
    .row
      each ore, index in ores
        .col-sm-4
          .ore(onclick=`buy('${index}')`)
            h1 #{ore.ore_name}
            p Quality Level: #{ore.quality_level}
            p Quantity Available: #{ore.quantity_available}
          .col-sm-2
            p Ore Name: #{ore.ore_name}
            p Quality Level: #{ore.quality_level}
            p Quantity Available: #{ore.quantity_available}
  script.
    function buy(index) {
    alert("You purchased item " + index);
    }